@charset "utf-8";
/* CSS Document */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html{background-color: #eaeaea;}
body{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	font-family: sans-serif;
}

a{text-decoration: none;}
.sidebar {
	background: #448aca;
	padding: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 35%;
}
.content{
	position: fixed;
	width: 65%;
	top: 0;
	bottom: 0;
	right: 0;
	overflow-y: scroll;
}
ul{list-style-type: none;}
ul a {
	text-decoration: none;
	font-size: 1.15rem;
	font-weight: 100;
	color: white;
	display: block;
	padding: 0.3rem 0 2vh 0;
	letter-spacing: 0.1rem;
}
.logo_container{display: inline-block;}
.logo{
    width: 5.5vw;
    height: 5.5vw;
    border-radius: 100%;
    overflow: hidden;
}
.head{
	margin: 5vh 0 0 3vw ;
	position: relative;
}
.title{
	display: inline-block;
	font-size: 1.75rem;
	height: 2rem;
	width: 500px;
	position: absolute;
	top: 50%;
	margin-top: -1rem;
}
.zhname{
	display: inline-block;
	margin-left: 2rem;
	letter-spacing: 0.2rem;
	color: white;
}
.enname{
	display: inline-block;
	margin-left: 0.5rem;
	letter-spacing: 0.1rem;
	color: white;
}
.menu, .menu_b{margin: 6vh 0 0 calc(8.5vw + 2rem);}
.menu-txt{
	font-size: 1.15rem;
	display: inline-block;
	width: 12vw;
	letter-spacing: 0.2rem;
	padding-bottom: 2vh;
	margin-right: 2vw;
}
.menu-work{
	color: white;
	border-bottom: 1.25px solid white;
}
.menu_b{margin-top: 3vh;}
.work_pic{
	width: 80%;
	margin: 8vh 5vw 0;
}
.work_txt{
	margin: 1vh 0 0 5vw;
	font-size: 2rem;
	font-weight: bold;
}
.type{
	margin: 1vh 0 0 5vw;
	font-size: 1.25rem;
	font-weight: normal;
}
a{color: #393939;}
.txt:hover, .txt:active{color: red;}
.backtoindex{
	color: white;
	position: absolute;
	bottom: 5vh;
}
.backtotop{
	width: 4vw;
	height: 4vw;
	position: fixed;
	bottom: 5vh;
	right: 2vw;
}
@media screen and (max-width: 1280px){
	.title{
		display: inline-block;
		font-size: 1.25rem;
		height: 2.5rem;
		width: 500px;
		position: absolute;
		top: 50%;
		margin-top: -1.5rem;
	}
	.enname{
		display: block;
		margin-left: 1rem;
		letter-spacing: 0.1rem;
		color: white;
	}
	.zhname{
		display: inline-block;
		margin-left: 1rem;
		letter-spacing: 0.2rem;
		color: white;
	}
	.work_txt{font-size: 1.75rem;}
}
@media screen and (max-width: 600px){
	html{background-color: #448aca;}
	.backtotop{display: none;}
	.logo{
		width: 10vw;
		height: 10vw;
		border-radius: 100%;
		overflow: hidden;
	}
	.head{margin: 3vh 0 0 5vw;}
	.sidebar {
		padding: 0;
		position: fixed;
		top: 0;
		bottom: 0;
		width: 100%;
        margin-bottom: 0;
        left: 0;
        right: 0;
	}
	.content{
		position: fixed;
		width: 100%;
		top: 150px;
		bottom: 0;
		right: 0;
		overflow-y: scroll;
	}
	.menu-txt{
		font-size: 1rem;
		display: block;
		letter-spacing: 0.2rem;
		padding-bottom: 2vh;
		margin: -3vh 0 0 -4vw;
		width: 10rem;
	}
	.work_pic{
		width: 80%;
		margin: 8vh 0 0 10vw;
	}
	.work_txt{
		margin: 1vh 0 0 10vw;
		font-size: 1.5rem;
		font-weight: bold;
	}
	.type{
		margin: 1vh 0 0 10vw;
		font-size: 1rem;
		font-weight: normal;
	}
	.title{
		display: inline-block;
		font-size: 1.25rem;
		height: 2rem;
		width: 500px;
		position: absolute;
		top: 50%;
		margin-top: -1rem;
	}
	.zhname{
		display: inline-block;
		margin-left: 1rem;
		letter-spacing: 0.2rem;
		color: white;
	}
	.enname{
		display: inline-block;
		margin-left: 0.5rem;
		letter-spacing: 0.1rem;
		color: white;
	}
	.menu_b{display: none;}
}
